.idea
*.iml
.vagrant
docroot/*
/vendor/
_bower_components
node_modules
keys
.DS_Store
.sass-cache
app/vendor
app/web/core/
app/web/drush/
app/web/example.gitignore
app/web/index.php
app/web/libraries/
app/web/modules/
app/web/sites/development.services.yml
app/web/sites/example.settings.local.php
app/web/sites/example.sites.php
app/web/themes/
app/web/vendor/
app/web/PATCHES.txt
app/web/profiles/reactivelamp/themes/custom/activelamp/reactivelamp/*
sitemap.xml
deploy-*.log
/shared/*
!shared/.gitkeep
app/web/sites/default/files
