.idea
*.iml
.vagrant
docroot/*
/vendor/
_bower_components
node_modules
keys
.DS_Store
.sass-cache
app/vendor
app/web/.csslintrc
app/web/.drush-lock-update
app/web/.editorconfig
app/web/.eslintignore
app/web/.eslintrc
app/web/.gitattributes
app/web/.gitignore
app/web/.htaccess
app/web/README.txt
app/web/autoload.php
app/web/core/
app/web/drush/
app/web/example.gitignore
app/web/index.php
app/web/libraries/
app/web/modules/
app/web/robots.txt
app/web/sites/README.txt
app/web/sites/development.services.yml
app/web/sites/example.settings.local.php
app/web/sites/example.sites.php
app/web/themes/
app/web/update.php
app/web/vendor/
app/web/web.config
app/web/PATCHES.txt
app/web/profiles/reactivelamp/themes/custom/activelamp/reactivelamp/*
sitemap.xml
deploy-*.log
/shared/*
!shared/.gitkeep
app/web/sites/default/files
